<html>
<head>
<style>
.container{
	background-color:white;
	align:"center";	
}
.container2{
			width:300px; 		
			align:"center";
			background-color:white;			
}
.container3{
			margin-top:50px;
			margin-left:180px;

}
</style>
</head>
<body>
<div class="container3">
 <div ng-controller="contactController" class="container">
 <div class="col-md-6 col-md-offset-3">
    <h2>Join twitter today</h2>
    <form name="form" ng-submit="submit()" role="form" class="container2">
        <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
            <label for="username">Firstname</label>
            <input type="text" name="username" id="username" class="form-control" ng-model="users.firstname" required />
            <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Firstname is required</span>
        </div>
          <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
            <label for="username">Lastname</label>
            <input type="text" name="username" id="username" class="form-control" ng-model="users.lastname" required />
            <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Lastname is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" class="form-control" ng-model="users.email" required />
            <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="users.password" required />
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
        </div>     
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Register</button>       
        </div>
    	<div>{{register}}<div>
    </form>
</div>
</div>
    </div>
    </div>
  </body>
  </html>  
    
    
  
    
    
    
  