<html>
<header>
     
            <div class="container">
                <div class="navbar-header">
                <i class="fa fa-twitter"></i>
                    <a class="navbar-brand" href="/">Twitter</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="#login"><i class="fa fa-signin"></i> About</a></li>
                    <li><a href="#register"><i class="icon-chevron-sign-up"></i> Contact</a></li>
                </ul>
            </div>
           
        </header>
        </html>