<html>
<head>
<% include header %>
<style>
</style>
</head>
<body ng-app="scotchApp">
<% include header1 %>		
       <div id="main">
    
        <!-- angular templating -->
        <!-- this is where content will be injected -->
        <div ng-view>       
        </div>
        
    </div>     
</body>
</html>